

.game_menu{
    width:100%;
    height:100%;
    background-image:url("/static/image/background/ice_sea_img1.jpg");
    background-size:100% 100%;
}

.game_menu_select{
    width:20vw;
    position:relative;
    top: 50%;
    left: 10%;
    user-select:none;

}
.game_menu_select_button{

    color:white;
    height:5vh;
    width:23vw;
    font-size:3vh;
    padding: 5px 5px;
    font-style:italic;
    text-align:center;
    background-color:rgba(39, 21, 28, 0.6);
    border-radius:10px;
    cursor:pointer;
}
.game_menu_select_button:hover{
    transform:scale(1.2);
    transition:100ms;

}

.game_menu_button_select_one{
    
    
}

.game_ground{
    
    width:100%;
    height:100%;
    user-select:none;

}



.game-set{ 
    width:100%;
    height:100%;
    background-image:url("/static/image/background/like_2.jpg");
    background-size:100% 100%;

}


.game-set-login{
    height:50vh;
    width:50vh;
    position:relative;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    
    user-select:none;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10%;
}

.game-set-submit{
    display:block;
    height:7vh;
}

.game-set-password{
    display:block;
    height:7vh;
}

.game-set-username{
    display:block;
    height: 7vh;
}

.game-set-button{
    width:100%;
    height: 100%;
}

.game-set-button>input{
  
    line-height: 3vh;
    position:relative;
    width:80%;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
}
button:hover{
    cursor:pointer;
}

.game-set-button>button{
    color:white;
    line-height: 3vh;
    width:80%;
    background-color: rgba(38,218,111, 0.5);
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
}

.game-set-error-messege{
    color: #BB0000;
    font-size:1vh;
    display:inline;
    float: left;
    padding-left: 1vw;
}


.game-set-select-log{
    color: #2E7CEE;
    font-size: 1.5vh;
    float: right;
    padding-right: 1vw;
    display: inline;
    cursor: pointer;
}

.game-set-select-register{
    color: #2E7CEE;
    font-size: 1.5vh;
    float: right;
    padding-right: 1vw;
    display: inline;
    cursor: pointer;
}
  
.game-set-acwing>div{
    color: white;
    text-align: center;
    font-size: 2vh;

}


.game-set-acwing>img{
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.game-set-acwing{
    display:block;
    height:7vh;
}

.game-set-login-title{
    color:white;
    font-size: 3vh;
    text-align:center;
    height: 7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.game-set-register{
    height:51vh;
    width:30vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 0, 0, 0.7);

    border-radius: 10%;
}
